<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jemberonlineservice.studentdaily">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".JadwalActivity" />
        <activity
            android:name=".ListJadwalActivity"
            android:label="@string/jadwallsttitle" />
        <activity
            android:name=".ListTugasActivity"
            android:label="@string/tugaslsttitle" />
        <activity android:name=".TugasActivity" />
        <activity
            android:name=".ListCatatanActivity"
            android:label="@string/catatanlsttitle" />
        <activity android:name=".CatatanActivity" />
        <activity
            android:name=".TentangActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tentang"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jemberonlineservice.studentdaily.MainActivity" />
        </activity>
        <activity android:name=".UpdateTugasActivity" />
        <activity android:name=".UpdateJadwalActivity" />
        <activity android:name=".UpdateCatatanActivity" />
        <activity android:name=".ViewCatatanActivity" />
        <activity android:name=".DaftarActivity"></activity>
    </application>

</manifest>